:host {
	display: flex;
	flex-direction: column;

	& * > {
		width: 100%;
	}
}

.actions {
	display: flex;
	justify-content: flex-end;
	height: 0;
}

button {
	position: relative;
	top: .5rem;
	right: .5rem;
}
